{{ if and (eq .Section "publications") .Params.citation_authors .Params.journal .Date }}
<meta name="citation_title" content="{{ .Title }}">
{{ range .Params.citation_authors }}
<meta name="citation_author" content="{{ . }}">
{{ end }}
<meta name="citation_publication_date" content="{{ .Date.Format "2006/01/02" }}">
<meta name="citation_journal_title" content="{{ .Params.journal }}">
{{ with .Params.doi }}<meta name="citation_doi" content="{{ . }}">{{ end }}
{{ $siteBase := site.BaseURL | default "" }}
{{ $hasAbsBase := gt (len (findRE "^https?://" $siteBase)) 0 }}
{{ if and $hasAbsBase .Params.pdf_url }}
<meta name="citation_pdf_url" content="{{ .Params.pdf_url | absURL }}">
{{ end }}
{{ end }}
